@model TrainerSquad.Models.ViewModels.TrainingFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Training</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Training.Note" class="control-label"></label>
                <input asp-for="Training.Note" class="form-control" />
                <span asp-validation-for="Training.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Training.Load" class="control-label"></label>
                <input asp-for="Training.Load" class="form-control" />
                <span asp-validation-for="Training.Load" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Training.Serie" class="control-label"></label>
                <input asp-for="Training.Serie" class="form-control" />
                <span asp-validation-for="Training.Serie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Training.Repetition" class="control-label"></label>
                <input asp-for="Training.Repetition" class="form-control" />
                <span asp-validation-for="Training.Repetition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Training.Exercise" class="control-label"></label>
                <input asp-for="Training.Exercise" class="form-control" />
                <span asp-validation-for="Training.Exercise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Training.Type" class="control-label"></label>
                <select asp-for="Training.Type" class="form-control" asp-items="Html.GetEnumSelectList<TrainingType>()"></select>
                <span asp-validation-for="Training.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Training.ClientId" class="control-label"></label>
                <select asp-for="Training.ClientId" class="form-control" asp-items="@(new SelectList(Model.Clients, "Id", "Name"))"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
