@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo</h1>
    <h1 class="display-4">ao seu sistema da</h1>
    <h1 class="display-4">Trainer Squad</h1>
    <img src="/simbolo_azul_claro.png" alt="logo tipo da empresa" />
</div>
