@{
    ViewData["Title"] = "Desenvolvedores";
}
<h1>@ViewData["Title"]</h1>

<h5>Este sistema foi desenvolvido por:</h5>
<ul style="list-style: none">
    <li>Guilherme Benvegnú Menezes</li>
    <li>Paola Fantinel dos Santos</li>
</ul>